.game-section {
    width: 100%;

    padding-top: 30px;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    row-gap: 20px;

    @media (min-width: 768px) {
        padding-top: 40px;
    }

    @media (min-width: 1200px) {
        padding-top: 60px;
    }
}

.game-section__heading {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    background: linear-gradient(to left, #3b41c5 0%, #5d4157 49%, #c43a30 100%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    position: relative;

 

    @media (min-width: 768px) {
        font-size: 2rem;

        &::before,
        &::after {
            position: absolute;
            content: '';
            background-image: url('images/bolt.svg');
            width: 40px;
            height: 40px;            top: 50%;
            transform: translateY(-50%);
        }

        &::before {
            left: -15%;

        }

        &::after {
            right: -15%;
        }

    }

    @media (min-width: 1200px) {}
}

.game-section__score {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;

    tbody tr {
        display: flex;
        flex-wrap: wrap;
        min-width: 80px;
        gap: 30px;
    }
}

.game-section__human-score,
.game-section__computer-score {
    min-width: 80px;
    margin-bottom: 10px;

}

.game-section__human-score-value,
.game-section__computer-score-value {
    background-color: white;
    color: #9200F8;
    padding: 10px;
    border-radius: 15px;
    min-width: 80px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

}

.game-section__computer-score-value {
    color: #E6454D;
}

.game-section__choice-result {
    list-style: none;
    padding: 0;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;


    h2 {
        padding: 0;
        display: inline-block;
        text-align: center;
        font-size: 0.9rem;

        @media (min-width: 768px) {
            font-size: 1.2rem;
        }
    }

    @media (min-width: 768px) {
        width: 80%;
    }
}

.game-section__choice-result-item {
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    color: #434859;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 150px;
    width: 45%;
    gap: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

    @media (min-width: 768px) {
        padding: 20px;
        height: 200px;
    }


}


.game-section__choice-result-item-icon {
    width: max-content;
    height: auto;
    scale: 2.5;
}

.game-section__choice {
    width: 90%;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    gap: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

    @media (min-width: 768px) {
        width: 80%;
        padding: 30px;

    }

}

.game-section__choice-list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
    margin: 0 0 30px;
    justify-content: center;
    gap: 10px;

    li {
        min-width: 30px;
    }
    @media (min-width: 768px) {
        justify-content: space-between;
        li {
            min-width: 30%;
        }
    }

}

.game-section__choice-btn {
    padding: 10px;
    border-radius: 15px;
    color: white;
    background-image: linear-gradient(160deg, #88d3ce 0%, #6e45e2 100%);
    border: none;
    width: 100%;
    font-family: "Inconsolata", Consolas, monospace;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;


    @media (min-width: 768px) {

    p {
        font-size: 1.1rem;
    }}
}

.game-section__choice-icon {
    font-size: 1.1rem;

    @media (min-width: 768px) {
        font-size: 2rem;

    }
}

.game-section__buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;

    @media (min-width: 768px) {
        justify-content: space-between;

    }
}

.game-section__button {
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-family: "Inconsolata", Consolas, monospace;
    width: 45%;
    // font-weight: 600;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

    font-size: 0.9rem;

    @media (min-width: 768px) {
        font-size: 1.1rem;

    }
}